.landing-main-container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(3, 31.5rem);
	gap: 1rem;
}
.landing-container {
	width: 100vw;
	/* height: 31.5rem; */
	display: flex;
	justify-content: center;
	align-items: center;
}
