.profile-main-container {
	width: 55rem;
	height: 30rem;
	/* border: 1px solid; */
	display: flex;
	flex-direction: column;
}

.profile-header {
	font-size: 3rem;
	font-weight: 500;
	/* border-bottom: 0.2rem solid red; */
}
.profile-container {
	width: inherit;
	display: flex;
	flex: 1;
}

.profile-img {
	border-radius: 50%;
	width: 10rem;
	height: 10rem;
	margin: 1rem 1rem 1rem 0.5rem;
	border: 0.2rem solid red;
	padding: 0.3rem;
}

.prof-info {
	display: flex;
	flex-direction: column;
	margin-top: 2rem;
	margin-left: 2rem;
}
.profile-holder {
	display: flex;
	/* border: 1px solid; */
}

.profile-name {
	/* margin-left: 2rem; */
	font-size: 2rem;
	font-weight: 500;
}

.profile-subtitle {
	font-size: 1.5rem;
	font-weight: 400;
}

.profile-info {
	font-size: 1.2rem;
	font-weight: 400;
	letter-spacing: 0.1rem;
	line-height: 1.8rem;
	display: flex;
	justify-content: center;
	margin-top: 1.5rem;
	padding-left: 1rem;
	text-align: justify;
	padding-right: 1rem;
}
