.news-section {
	width: 45rem;
	height: 30rem;
	/* border: 1px solid; */
	display: flex;
	justify-content: center;
	align-items: center;
}

.news-header {
	font-size: 2rem;
	font-weight: 500;
	padding-bottom: 0.8rem;
	border-bottom: 0.1rem solid red;
	margin: 1rem 1rem 0 1rem;
}

.news-container {
	width: 43rem;
	height: 26rem;
	border: 1px solid;
	border-radius: 1rem;
	display: flex;
	flex-direction: column;
}

.news {
	/* border: 1px solid black; */
	margin: 1rem;
	padding: 1rem;
}

.news-item {
	padding-bottom: 0.5rem;
}

.newsButton {
	width: 8rem;
	height: 2rem;
	align-self: flex-end;
	margin: 0rem rem 1rem 0rem;
	border: none;
	background: none;
	cursor: pointer;
	font-size: 0.9rem;
	font-weight: 500;
	color: red;
}
